
.header{
    background: #FA7C5A;
    display: flex;

    nav{
        // display: block;
        display: none;
        color: #fff;
        font-size: 16px;
        float: right;
        width: 200px;
        top: 60px;
        // right: calc(50% - 400px);
        position: absolute;
        cursor: pointer;
        background: #FA7C5A;
    }

    .container-nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px 0;
        width: 100%;

        .logo{
            width: 140px;
        }

        .menuIcon{
            width: 28px;
            cursor: pointer;
        }
    }
}